.sign-in {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 700px;
	border-radius: 10px;
	margin: 10% auto;


	text-align: center;
}

.sign-in__input {
	display: block;
	width: 100%;
	border: 0;
	border-radius: 20px;
	margin: 20px 0 20px 0;
	padding: 20px 0 20px 10px;

	background: #2c2b2b;
	color: #cacaca;

	font-family: 'Roboto', sans-serif;
}

.sign-in__input::placeholder {
	margin-right: 10px;

	color: #cacaca;
}

.sign-in__title {
	color: #fffaff;

	text-transform: uppercase;
}

.sign-in__form {
	width: 70%;
}

.sign-in__button {
	display: block;
	width: 100%;
	border: none;
	border-radius: 20px;
	margin: 0 auto;
	margin-top: 10%;
	margin-bottom: 60px;
	padding: 20px;
	padding-left: 15px;

	background: #ffdd55e8;
	color: #fff;

	font-size: 17px;
	font-weight: 700;

	cursor: pointer;
	transition: 0.5s;
}
.sign-in__button:hover {
	background: #e7b900e8;
	color: #000;
}
