.header {
	position: fixed;
	top: 0;
	z-index: 999;

	display: flex;
	justify-content: space-between;
	width: 100%;

	background: #2c2b2b;

	transition: 1s;
}

.header__logo {
	height: 50px;
	margin-left: 5%;

	color: #ddbe86;
}

.header__menu {
	display: flex;
}
.header__link {
	padding: 20px 30px;

	color: #ddbe86;

	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

@media (max-width: 460px) {
	.header__logo {
		display: block;
		width: 20px;
		height: 20px;
		margin: 0 auto;

		text-align: center;
	}
	.header {
		display: block;
	}
	.header__menu {
		display: block;
	}
	.header__havbar {
		text-align: center;
	}
	.header__item {
		border-top: 2px solid black;
	}
	.header__link {
		padding: 0;
	}
}
